{% assign title = "FantaGIPE - My team" %}
{% extends "Templates/base-footer" %}

{% block content %}

<div class="container" id="fantacontainer" x-data="{checkMember: [], captain: '{{logged_user.fanta_captain.id}}', money: {{logged_user.fanta_budget}}}">


<h1 class="text-center">FantaGIPE</h1>
<div class="row my-3">
  <div class="col-12 col-lg-6 mx-auto">
    <div class="card shadow-sm">
      <div class="card-body">
        <p class="fst-italic">
          We recommend you to read carefully the rules.
        </p>
        <p>
          Each player has <b>60 terrisi</b> available to purchase 4 of the competing members.
        </p>
        <p>
          It is possible to register the team <b>by the 5th of October 2023 at 3.00 PM.</b>
        </p>
      </div>
    </div>
  </div>

</div>


<div class="row mt-4 mb-5">
  <div class="col col-auto mx-auto">
    <a class="btn btn-success shadow-sm" href="{{"files/FantaGIPE_rules.pdf" | url}}"><i class="bi bi-download me-2"></i>Read the rules</a>
  </div>
</div>

{% include "Fanta/teamNameForm"%}

<div id="myteam" hx-get="{{"fanta/myteam/0" | url}}" hx-trigger="load from:body">
  {% include "Fanta/myteam" %}
</div>


<div id="#my-money" class="position-fixed bottom-0 start-0 end-0 bg-primary py-3 px-2 shadow-lg">
  <div class="container text-white">
   <div class="row align-items-center">
    <div class="col text-end">My terrisi</div>
    <div class="col col-auto ms-auto fw-bold fs-3" style="color: #fcd303"><i class="bi bi-piggy-bank-fill me-1"></i> <span x-text="money"></span> tr.</div>
   </div>
  </div>

  </div>
  <div class="toast-container position-fixed" style="left: 0px; right:0px; width: 100vw; bottom: 80px;">
    <div class="toast align-items-center mx-auto  text-bg-danger " id="errortoast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
  Toast      </div>
        <button type="button" class="btn-close btn-close-white  me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>


  <div class="toast-container position-fixed" style="left: 0px; right:0px; width: 100vw; bottom: 80px;">
    <div class="toast align-items-center mx-auto  text-bg-success " id="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body" id="toast_body">
  Toast      </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

{% endblock %}